*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cajaquest {
    background-color: #FFFFFF;
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 7em 3% 0;
    position: relative;
    width: 78%;
}
.campo, textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0 6px rgba(27, 27, 41, 0.27) inset;
    height: 42px;
    margin-bottom: 9px;
    padding: 9px;
    width: 336px;
}
.campono{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0 6px rgba(27, 27, 41, 0.27) inset;
    height: 37px;
    margin-bottom: 9px;
    padding: 9px;
    width: 37px;
}
.camponu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0 6px rgba(27, 27, 41, 0.27) inset;
    height: 42px;
    margin-bottom: 9px;
    padding: 9px;
    width: 42px;
	margin-top: 30px;
}
.campo:focus, textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 3px #131B4F;
    outline: medium none;
}
.boton {
    background: none repeat scroll 0 0 #E71112;
    border: 0 none;
    color: #FFFFFF;
    float: none;
    margin: 5px auto;
    padding: 10px;
    width: 111px;
	cursor:pointer;
}
#contact {
    margin: 55px auto 47px;
    max-width: 762px;
    position: relative;
}
#contact h2 {
    margin: 0 auto 30px;
    max-width: 762px;
    position: relative;
}
.label2 {
  font-size: 18pt;
    text-align: left;
    width: auto;
	color: rgba(97, 107, 107, 0.7);
	padding: 15px 10px 15px 5px !important; 
}
.label3 {
    color: rgba(97, 107, 107, 0.7);
    font-size: 18pt;
    padding: 15px 10px 15px 5px !important;
    text-align: left;
    width: 30% !important;
}
.label2:before{
  border: 0 solid rgba(0, 0, 0, 0.3) !important; 
}
.label3:before{
  border: 0 solid rgba(0, 0, 0, 0.3) !important; 
}
#cajaquest h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #E71112;
    font-size: 2em;
    margin: 16px auto 0;
    padding: 0 0 10px;
    text-align: center;
    width: 71%;
	text-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

#cajaquest h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.23);
    font-size: 1.8em;
    font-style: italic;
    margin: 0 auto;
    padding: 0 0 10px;
    text-align: center;
    width: 71%;
}

#cajaquest p {
    color: rgba(97, 107, 107, 0.7);
    font-size: 16pt;
    margin: 14px auto 48px;
    text-align: center;
    width: auto;
}


.me-select {
	position: relative;
	margin: 0 auto;
	max-width: 800px;
}
.me-select h2 {
    color: #5E5E5E;
    font-size: 1.3333em;
    font-style: italic;
    font-weight: 700;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.me-select ul {
    list-style: none outside none;
    margin: 10px 0 58px;
    padding: 0;
    width: 100%;
}

.me-select li {
	margin: 0 auto;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.me-select li.selected {
	box-shadow: inset 0 0 0 40px rgba(255,246,0,0.1);
}

.me-select label {
	display: inline-block;
	width: 100%;
	position: relative;
	font-size: 1.2em;
	padding: 15px 10px 15px 80px;
	vertical-align: top;
	cursor: pointer;
}
.me-select label2 {
  font-size: 18pt;
    text-align: left;
    width: auto;
	color: rgba(97, 107, 107, 0.7);
	padding: 15px 10px 15px 5px;
}

.me-select label3 {
  font-size: 18pt;
    text-align: left;
    width: auto;
	color: rgba(97, 107, 107, 0.7);
	padding: 15px 10px 15px 5px;
}
.me-select label span {
	vertical-align: middle;
	display: inline-block;
}

.me-select label span:first-child {
	width: 30%;
	color: rgba(97,107,107,0.7);
}

.me-select label span:nth-child(2),
.me-select label a {
	width: 60%;
	color: #31d2d4;
}

.me-select label span:last-child {
    font-size: 18pt;
    text-align: left;
    width: auto;
}

.me-select input[type="checkbox"],
.me-select label::before,
.me-select input[type="checkbox"]:checked + label::after {
	width: 26px;
	height: 26px;
	top: 50%;
	left: 20px;
	margin-top: -13px;
	position: absolute;
	cursor: pointer;
}
.me-select input[type="radio"],
.me-select label::before,
.me-select input[type="radio"]:checked + label::after {
	width: 26px;
	height: 26px;
	top: 50%;
	left: 20px;
	margin-top: -13px;
	position: absolute;
	cursor: pointer;
}

.me-select input[type="checkbox"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}
.me-select input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.me-select label::before {
	content: '';
	border: 2px solid rgba(0,0,0,0.3);
}
.me-select label2::before {
	content: '';
	border: 0px solid rgba(0,0,0,0.3);
}

.me-select label3::before {
	content: '';
	border: 0px solid rgba(0,0,0,0.3) !important;
}
.me-select input[type="checkbox"]:checked + label::after {
	content: '\2713';
	text-align: center;
	line-height: 28px;
	color: #E71C13;
}
.me-select input[type="radio"]:checked + label::after {
	content: '\2713';
	text-align: center;
	line-height: 28px;
	color: #E71C13;
}
textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0 6px rgba(27, 27, 41, 0.27) inset;
    height: 42px;
    margin-bottom: 9px;
    padding: 9px;
    width: 100%;
	height:100px;
}


/* Media Queries */
@media screen and (max-width: 50em) {
	section {
		font-size: 80%;
	}
	.campo, textarea {
  
    width: 100%;
}
}